@import "../node_modules/nakds/dist/css/nakDS.min.css";

.nk-logo {
  width: 200px;
}

.nk-grid-row-3 {
  grid-template-rows: calc(100vh / 3) calc(100vh / 3) calc(100vh / 3);
}

.nk-object-fit--cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nk-object-position--top {
  object-position: 0 0;
}

.nk-slider {
  display: grid;
  grid-template-columns: repeat(100, 100vw);
  scroll-behavior: smooth;
  overflow-x: scroll;
}

.nk-slide {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.go-next {
  position: absolute;
  right: 40px;
  top: 50vh;
}

.go-back {
  position: absolute;
  left: 40px;
  top: 50vh;
}
